body {
	text-align: center;
	color: rgb(38, 38, 38);
}

section {
	width: 10%;
	display: inline-flex;
	justify-content: space-between;
}

#count {
	font-size: 36px;
	font-weight: bold;
}

button {
	margin-top: 9px;
	margin-bottom: 9px;
}
